
// Converted Variables


// Custom Media Query Variables


@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');


body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
}

section:{
  padding: 1em;
  h3:{
  color: #333;
  },
  h1, h2, strong:{
  padding-top: 1em;
  color: #3bb;
  }
}

.conteiner{
  background-color: #fff;
  width: 100%;
}


header{
  font-family: 'Bree Serif', serif;
  color: #E0EFF1!important;
  text-align: center; 
  background-image:url("../images/banner6.jpg");
}

p{
  text-align: justify;
}

.toggle-nav {
    display:none;
}

.menu {
  ul {
    display:inline-block;
  }
  li {
    margin:0px 20px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
    last-child {
    margin-right:0px;
      }
    }
  a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#F57170;
    transition:color linear 0.15s;
    }
}


 

 
.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#F57170;
}

@media screen and (min-width:800px ){
  body{
    padding:0em 3em;
    background-color:#eee;
  }

  .menu {
        width:100%;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }
}

@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}
 
 
@media screen and (max-width: 860px) {
    .menu {
        position:relative;
        display:inline-block;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }
 
    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }
 
    .menu a {
        display:block;
    }
 
    .toggle-nav {
        padding:20px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
 
}